.miniGameStartContianer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin-top: 60px;
}

.readyToPlayTitle {
    margin-bottom: 10px;
}

.greyText {
    color: #777777;
    font-weight: bold;
    margin-bottom: 5px;
}

.startGameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    width: 230px;
    height: 60px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.startGameButton:hover {
    transform: scale(0.95);
}

.noVocabulary {
    font-weight: bold;
    color: rgb(175, 0, 0);
}

@media screen and (max-width: 700px) {
    .miniGameStartContianer {
        font-size: 12px;
        height: 300px;
    }
    .pictureStyle {
        width: 100px;
        height: 100px;
    }
    .startGameButton {
        width: 140px;
        height: 45px;
        border-radius: 10px;
        font-size: 18px;
    }
}