.congratsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.congratsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.congratsSection h1 {
    font-size: 1.5em;
    /* font-size: 25px; */
}

.reviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    height: 150px;
    background-color: #111111;
    border-radius: 20px;
    padding: 30px;
    transition: all 0.2s ease;
}

.reviewContainer:hover {
    transform: scale(0.96);
}

.restartContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    height: 150px;
    background-color: #111111;
    border-radius: 20px;
    padding: 30px;
    transition: all 0.2s ease;
}

.restartContainer:hover {
    transform: scale(0.96);
}

.reviewTextContainer {
    text-align: start;
}

.restartTextContainer {
    text-align: start;
}

.reviewIcon {
    font-size: 40px;
    margin: 0 20px;
    color: #FF4B4B;
}

.restartIcon {
    font-size: 40px;
    margin: 0 20px;
    color: #5786FF;
}

.smallGreyTexts {
    color: #838383;
    font-weight: bold;
}

@media (max-width: 768px) {
    .congratsContainer {
        height: 400px;
    }

    .congratsSection h1 {
        font-size: 1.4em;
    }

    .congratsContainer p {
        font-size: 14px;
    }

    .congratsSection img {
        width: 70px;
    }

    .reviewContainer,
    .restartContainer {
        width: 90%;
        height: 120px;
        padding: 15px;
    }

    .reviewContainer h1,
    .restartContainer h1 {
        font-size: 1.2em;
    }
}


@media (max-width: 576px) {
    .congratsSection h1 {
        font-size: 1em;
    }
}