.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
}

.logoSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.profileImg {
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 15px;
}

.profileSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userName {
    margin-right: 10px;
}