.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.darkLayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}
.background div{
    position: absolute;
    border-radius: 50%;
    animation: gradient 4s infinite;
}
@keyframes gradient{
    70%{
        transform: scale(1.2) translate(50px);
    }
}
.background div:nth-child(1){
    height: 90%;
    width: 80%;
    background-color: #FE6B68;
    left: -20%;
    top: -10%;
}
.background div:nth-child(2){
    height: 80%;
    width: 70%;
    background-color: #5786FF;
    top: -12%;
    right: -12%;
    animation-delay: 2s;
}
.background div:nth-child(3){
    height: 65%;
    width: 80%;
    background-color: #FE6B68;
    bottom: -15%;
    right: -20%;
    animation-delay: 0.3s;
}
.background div:nth-child(4){
    height: 50%;
    width: 75%;
    background-color: #5786FF;
    bottom: -10%;
    left: -18%;
    animation-delay: 1.2s;
}
.background:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(80px);
}

.signUpSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 40px 50px;
    margin-top: 60px;
    font-weight: bold;
    font-size: 14px;
}

.formStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.inputStyle {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    color: black;
}

.buttonStyle {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #fe6b68;
    font-size: 14px;
    font-weight: bold;
    border: none;
    transition: all 0.2s ease;
}

.buttonStyle:active {
    transform: scale(0.96);
}

.googleButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    background-color: rgba(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    border: none;
    transition: all 0.2s ease;
}

.imageStyle {
    margin-right: 10px;
}

.googleButton:active {
    transform: scale(0.9);
}

.textGrey {
    color: #4D4D4D;
}

.backButton {
    background-color: rgba(0, 0, 0, 0.0);
    color: #333;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.2s ease;
}

.backButton:hover {
    color: #000000;
}

.backButton:active {
    transform: scale(0.9);
}

.toMoveLeftButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}